:root {
	--clr1: #988ef1;
	--clr2: #4b12ae;

	--clr1bg: #6e68ae;
	--clr1bg-light: #c1f1e1;
	--clr2bg: #559ce8;
	--clr2bg-light: #e9d8a6;

	--gray1: rgb(240, 240, 240);
	--gray2: rgb(155, 155, 155);
	--gray3: rgb(44, 44, 44);
}
